<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<link rel="stylesheet" href="/css/fragment.css" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
<footer>
    <div class="footer-left">
        <!-- overrider p css-->
        <p style="color: grey">Email: support@alphamanager.com</p>
    </div>
    <div class="footer-center">
        <p style="color: grey">Telefon: +45 1234 5678</p>
    </div>
    <div class="footer-right">
        <p style="color: grey">Følg os også på vores sociale medier for de seneste opdateringer og nyheder!</p>
    </div>
</footer>
</body>
</html>