<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="header">
    <div class="logo-container">
        <img src="/img/logo_alpha.png" alt="Alpha Manager Logo" class="logo">
        <span class="logo-text">Alpha Manager</span>
    </div>
    <nav>
        <ul>
            <li><a th:href="@{/home}" class="nav-button">HJEM</a></li>
            <li><a th:href="@{/myprojects}" class="nav-button">MINE PROJEKTER</a></li>
            <li><a th:href="@{/teamprojects}" class="nav-button">ALLE PROJEKTER</a></li>
            <li><a th:href="@{/tasklist}" class="nav-button">MINE OPGAVER</a></li>
            <li><a th:href="@{/calendar}" class="nav-button">KALENDER</a></li>
        </ul>
    </nav>
</header>
</body>
</html>