<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error 403</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
</head>
<body>
<div class="main-content">
    <h2>403</h2>
    <p>
        Adgang nægtet!
        <br>
        Du har ikke godkendelse til denne side. Kontakt venligst support office, hvis du mener, at dette er en fejl.
    </p>
    <p>
        Email:
        <a href="mailto:support@alphamanager.com" style="color: #c7156f">support@alphamanager.com</a>
    <br> Telefon: +45 1234 5678
    </p>
    <button onclick="history.back()" class="btn btn-primary">Gå tilbage</button>
</div>
</body>
</html>