<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error 404</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
</head>
<body>
<div class="main-content">
    <h2>404</h2>
    <p>
        Siden du leder efter kunne ikke findes. Tjek om linket er korrekt!
        <br>
        Er linket korrekt kontakt support office:
    </p>
    <p>
        Email:
        <a href="mailto:support@alphamanager.com" style="color: #c7156f">support@alphamanager.com</a>
        <br>
        Telefon: +45 1234 5678
    </p>
    <button onclick="history.back()" class="btn btn-primary">Gå tilbage</button>
</div>
</body>
</html>