/* General body and layout styling */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

header, footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #ffffff;
}

.logo-container, .header-content {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    margin-right: 10px; /* Space between logo and logo text */
}

.logo-text {
    font-size: 1.8em;
    font-weight: bold;
    color: #0c0c0c;
}

/* Navigation menu styling */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 5px; /* Less distance between buttons */
}

.nav-button {
    background-color: transparent;
    color: #0c0c0c;
    text-decoration: none;
    padding: 5px 15px; /* Reduced size of buttons */
    border-radius: 5px;
    border: 2px solid #c7156f; /* Pink color for border */
}

.nav-button:hover {
    background-color: #d01275; /* Pink hover background */
    color: transparent;
}

footer {
    font-size: 0.9em;
}