header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f0f0f0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.header-content {
    display: flex;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    height: 40px;
    margin-right: 10px; /* place between logo and logo text */
}

.logo-text {
    font-size: 1.8em;
    font-weight: bold;
    color: #0c0c0c;
}

/* General body styling */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

/* Centreret boks til velkomstsektion */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    max-width: 80%;
    background-color: #ffffff; /* Hvid baggrund */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

/* Styling footer with box */
footer {
    padding: 10px 20px;
    font-size: 0.9em; /
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* styling header */
header {
    background-color: #f0f0f0;
    padding: 10px 20px;
}

/* Navigation menu styling */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 5px; /* less distance between buttons */
}

.nav-button {
    background-color: transparent;
    color: #0c0c0c;
    text-decoration: none;
    padding: 5px 15px; /* size of buttons */
    border-radius: 5px;
    border: 2px solid #c7156f;
    transition: background-color 0.3s, color 0.3s;
}

.nav-button:hover {
    background-color: #d01275;
    color: white; /* white text when hovering */
}

section {
    background-color: #f4f4f4;
    padding: 40px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #0c0c0c;
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

p {
    color: #0c0c0c;
    font-size: 1.2em;
    line-height: 1.6;
}
