<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arkiverede Projekter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div class="container">
    <h1 class="my-4">Arkiverede Projekter</h1>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Navn</th>
            <th>Beskrivelse</th>
            <th>Total Timer</th>
            <th>Deadline</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <!-- Iterer gennem arkiverede projekter og vis detaljer for hver -->
        <tr th:each="archivedProject : ${archivedProjects}">
            <td th:text="${archivedProject.id}"></td>
            <td th:text="${archivedProject.name}"></td>
            <td th:text="${archivedProject.description}"></td>
            <td th:text="${archivedProject.totalHours}"></td>
            <td th:text="${#dates.format(archivedProject.deadline, 'yyyy-MM-dd')}"></td>
            <td>Arkiveret</td>
        </tr>
        </tbody>
    </table>
    <a href="/teamprojects" class="btn btn-primary">Se Nuværende Projekter</a>
</div>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>