<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Opret Nyt Projekt</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="main-content mt-5">
    <h2>Opret Nyt Projekt</h2>
    <form th:action="@{/projects/create}" method="post">
        <div class="form-group">
            <label for="name">Navn:</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="description">Beskrivelse:</label>
            <textarea class="form-control" id="description" name="description" required></textarea>
        </div>
        <div class="form-group">
            <label for="deadline">Startdato:</label>
            <input type="date" class="form-control" id="startdate" name="startdate" th:value="${#dates.format(task.startDate, 'yyyy-MM-dd')}">
        </div>
        <div class="form-group">
            <label for="deadline">Deadline:</label>
            <input type="date" class="form-control" id="deadline" name="deadline" required>
        </div>
        <button type="submit" class="btn btn-primary">Opret Projekt</button>
    </form>
</div>
</body>
</html>