<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ændre oplysninger på projekt</title>
    <link rel="icon" href="/img/logo_alpha.png" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
</head>
<body>
<div class="main-content">
    <h2>Rediger <span th:text="${project.name}"></span></h2>
    <form th:action="@{'/edit/project/' + ${project.id}}" method="post">
        <div class="form-group">
            <label for="name">Navn:</label>
            <input type="text" class="form-control" id="name" name="name" th:value="${project.name}">
        </div>
        <div class="form-group">
            <label for="description">Beskrivelse:</label>
            <textarea class="form-control" id="description" name="description" th:text="${project.description}"></textarea>
        </div>
        <div class="form-group">
            <label for="deadline">Deadline:</label>
            <input type="date" class="form-control" id="deadline" name="deadline" th:value="${#dates.format(project.deadline, 'yyyy-MM-dd')}">
        </div>
        <button type="submit" class="btn btn-primary">Gem Ændringer</button>
    </form>
</div>
</body>
</html>
