<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Projektdetaljer</title>
    <link rel="icon" href="/img/logo_alpha.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>

<div class="main-content mt-5">
    <h2 th:text="${project.name}">Project Name</h2>
    <p th:text="${project.description}">Project Description</p>

    <div class="details-grid">
        <div>
            <h3>Subprojects</h3>
            <ul>
                <li th:each="subproject : ${project.subprojects}">
                    <a th:href="@{'/subproject/' + ${subproject.id}}">
                        <span th:text="${subproject.name}">Subproject Name</span>
                        <span th:text="${subproject.description}">Description</span>
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <a th:href="@{'/edit/project/' + ${project.id}}" style="color: white" class="btn btn-success">Ændre projekt</a>
        </div>
    </div>
</div>

<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>