<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Alle Projekter</title>
    <link rel="icon" href="/img/logo_alpha.png" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>

<div class="main-content mt-5">
    <h2>Projekt Oversigt</h2>
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-6">
                <form th:action="@{/projects}" method="get" class="form-inline">
                    <label for="sort" class="mr-2">Sort by:</label>
                    <select name="sort" id="sort" class="form-control mr-2">
                        <option value="name">Name</option>
                        <option value="deadline">Deadline</option>
                        <option value="status">Status</option>
                    </select>
                    <button type="submit" class="btn btn-primary">Sort</button>
                </form>
            </div>
        </div>
    </div>


    <!-- Projekter Oversigt -->
    <table class="table">
        <!-- Table header -->
        <thead class="thead-dark">
        <!-- Table header columns -->
        <tr>
            <th>ID</th>
            <th>Navn</th>
            <th>Beskrivelse</th>
            <th>Total Timer</th>
            <th>Deadline</th>
            <th>Status</th>
            <th>Ændre Status</th> <!-- Tilføjede kolonne til redigeringsknapper -->
        </tr>
        </thead>
        <!-- Table body -->
        <tbody>
        <!-- Iterer gennem projekter -->
        <tr th:each="project : ${projects}">
            <!-- Projektdata -->
            <td th:text="${project.id}"></td>
            <td><a th:href="@{/project/{id}(id=${project.id})}" th:text="${project.name}" style="color: #c7156f"></a></td>
            <td th:text="${project.description}"></td>
            <td th:text="${project.totalHours}"></td>
            <td th:text="${#dates.format(project.deadline, 'dd-MM-yyyy')}"></td>
            <td th:text="${project.status.displayName}"></td>
            <td>
                <!-- Formular to change status -->
                <form th:action="@{'/projects/' + ${project.id} + '/status'}" method="post">
                    <label>
                        <select name="newStatus">
                            <option value="DONE" th:selected="${project.status == 'DONE'}">Afsluttet</option>
                            <option value="IN_PROGRESS" th:selected="${project.status == 'IN_PROGRESS'}">Påbegyndt</option>
                            <option value="TO_DO" th:selected="${project.status == 'TO_DO'}">To do</option>
                            <option value="ARCHIVED" th:selected="${project.status == 'ARCHIVED'}">Arkiveret</option>
                            <option value="NOT_STARTED" th:selected="${project.status == 'NOT_STARTED'}">Ikke påbegyndt</option>
                        </select>
                    </label>
                    <button type="submit">Gem</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/projects/create" class="btn btn-primary">Tilføj Nyt Projekt</a>
</div>

<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>